<html>
    <head>
        <title>App Enquete</title>
    </head>
    <body>
        <u>Comentários autor</u>: {{comentario.autor_comentario}}<br>
        <u>Data de Publicação</u>: {{comentario.data_publicacao}}        
        <hr>
        
        {% for comentario in comentario_set.all %}
            {{ comentario.texto }}             
        {% endfor %}
          
        <hr>
        <a href="{% url 'main:detalhes' comentario.pergunta.id %}">Deseja votar novamente?</a> |
        <a href="{% url 'main:index' %}">Retornar à Página Principal</a>

    </body>
</html>