{% load static %}
<html>
    <head>
    <title>App Enquete</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
    </head>
    <body>

        {% if ultimas_perguntas %}
            <h2>Lista das Últimas Enquetes</h2>
            <ul>
                {% for pergunta in ultimas_perguntas %}
                    <li><a href="{% url 'main:detalhes' pergunta.id %} ">
                        {{ pergunta.texto }}
                    </a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Nenhuma questão disponivel!!!</p>
        {% endif %}

    </body>
</html>