{% extends 'base.html' %}

{% block conteudo %}
    <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'busca_tarefa' %}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Procurar tarefa</button>  
        <input class="form-control mr-sm-2" type="search" placeholder="Search" name="termo" value="{{ request.GET.termo }}" aria-label="Tarefa">
    </form>

    <h1>TIPOS DE TAREFAS</h1>
    
    {% for tarefa in tarefas %}
        
        {% if tarefa.usuario == user %}
            <a href="{% url 'detalhe_tarefa' tarefa.id %}">{{ tarefa.nome }}</a><br>
            {{tarefa.descricao}}<br>
            {{tarefa.dia}}<br>
            {{tarefa.usuario}}<br>
            {{tarefa.tipotarefa}}<br>
        {% endif %}
    {% endfor %}

{% endblock %}