{% extends 'base.html' %}

{% block conteudo %}
<dl>
    
    <dt>Nome</dt>
    <dd>{{ detalhetarefa.nome }}</dd>

    <dt>descrição</dt>
    <dd>{{ detalhetarefa.descricao }}</dd>

    <dt>Data criação</dt>
    <dd>{{ detalhetarefa.dia }}</dd>

</dl>



{% endblock %}