{% extends 'base.html' %}

{% block conteudo %}
<a href="http://victoraugusto1994.pythonanywhere.com/admin/auth/user/add/">Adicinando novos usuarios</a></br>
<a href="http://victoraugusto1994.pythonanywhere.com/admin/auth/user/">Altenticar usuarios</a>
    <form method="POST" action="{% url 'agenda_de_tarefas:root' %}">
        {% csrf_token %}
        <div class="form-group">
            <label>Usuário</label>
            <input type="text" name="usuario" value="{{ request.POST.usuario }}" class="form-control">
        </div>
        <div class="form-group">
            <label>Senha</label>
            <input type="password" name="senha" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Entrar</button>
    </form>

{% endblock %}
