{% extends 'base.html' %}

{% block conteudo %}
    <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'agenda_de_tarefas:busca' %}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Procurar tarefa</button>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" name="termo" value="{{ request.GET.termo }}" aria-label="Tarefa">
    </form>
        <a href="{% url 'agenda_de_tarefas:sair' %}">sair do sistema</a>
    <h1>TIPOS DE TAREFAS</h1>
        <a href="http://victoraugusto1994.pythonanywhere.com/admin/agenda_de_tarefas/tipodetarefa/">Adicinar tipos de ativdades</a></br>
        <a href="http://victoraugusto1994.pythonanywhere.com/admin/agenda_de_tarefas/tarefa/add/">Adicionar novas tarefas</a>
    <table class="table">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Dia</th>
            <th>Tipo de Tarefa</th>
          </tr>
        </thead>
        <tbody>

            {% for tarefa in tarefas %}
                {% if tarefa.usuario == user %}
                    <tr>
                        <td>
                        <a href="{% url 'agenda_de_tarefas:detalhe_tarefa' tarefa.id %}">{{ tarefa.nome }}</a>
                        </td>
                        <td>{{tarefa.descricao}}</td>
                        <td>{{tarefa.dia}}</td>
                        <td>{{tarefa.tipotarefa}}</td>
                    </tr>
                {% endif %}
          {% endfor %}

        </tbody>
      </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
          {% for pagina in tarefas.paginator.page_range %}
            {% if contatos.number == pagina %}
              <li class="page-item active">
                <a class="page-link" href="?p={{ pagina }} & termo={{ request.GET.termo }}">{{ pagina }}</a>
              </li>
            {% else %}
              <li class="page-item">
                <a class="page-link" href="?p={{ pagina }}& termo={{ request.GET.termo }}">{{ pagina }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
    </nav>

{% endblock %}
